{% extends "page.html" %}


{% block primary_content %}
  <article class="module">
    <div class="module-content">
      <h1 class="page-heading">Thank you!</h1>
      <p>Your comment has been sent, we will answer you as soon as possible.</p>

    </div>
  </article>
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('Contact Us') }}
  </h2>
  <div class="module-content">
    <p>
      Questions? Comments? We are always glad to hear from you!
    </p>
  </div>
</div>
{% endblock %}
