{#

Bloc HTML statique copié depuis Wordpress

#}

<footer role="contentinfo" id="colophon" class="container">
	<div id="menu-footer" class="row">
      <ul class="cat_col span2" id="cat-col-1">
        <li><a href="{{ site_url }}/blog">Actualités</a></li>
        <li><a href="{{ site_url }}/abonnement">Abonnez-vous</a></li>
        <li><a href="{{ site_url }}/nous-joindre">Nous joindre</a></li>
      </ul>
      <ul class="cat_col span2" id="cat-col-2">
        <li><a href="{{ site_url }}/pages/accessibilite">Accessibilité</a></li>
        <li><a href="{{ site_url }}/pages/plan-du-site">Plan du site</a></li>
      </ul>
      <ul class="cat_col span8" id="cat-col-3">
        <li><a href="{{ site_url }}/pages/licence">Licence</a></li>
        <li><a href="http://ville.montreal.qc.ca/portal/page?_pageid=5798,42719714&amp;_dad=portal&amp;_schema=PORTAL">&copy; Tous droits réservés Ville de Montréal</a></li>
      </ul>
    </div>
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
</footer>
