{% extends "page.html" %}
 {% block primary %}
<article class="">
  <div class="primary col-sm-9 module">

  <div class="module-content">
    <h1>Abonnement à l’infolettre
</h1>
<style type="text/css">
#DIV_1 {
    height: 430.297px;
    text-size-adjust: 100%;
    width: 498px;
    perspective-origin: 249px 215.141px;
    transform-origin: 249px 215.141px;
    font: normal normal 400 normal 14px / 24px Arial, Helvetica, sans-serif;
}/*#DIV_1*/

#P_2 {
    height: 0px;
    text-size-adjust: 100%;
    width: 498px;
    perspective-origin: 249px 0px;
    transform-origin: 249px 0px;
    font: normal normal 400 normal 14px / 24px Arial, Helvetica, sans-serif;
    margin: 0px 0px 27.4286px;
}/*#P_2*/

#LINK_3, #STYLE_4, #SCRIPT_36 {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 24px Arial, Helvetica, sans-serif;
}/*#LINK_3, #STYLE_4, #SCRIPT_36*/

#DIV_5 {
    clear: left;
    height: 406.297px;
    text-size-adjust: 100%;
    width: 498px;
    perspective-origin: 249px 203.141px;
    transform-origin: 249px 203.141px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
}/*#DIV_5*/

#FORM_6 {
    bottom: 0px;
    height: 386.297px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    width: 483.062px;
    perspective-origin: 249px 203.141px;
    transform-origin: 249px 203.141px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 10px 0px 10px 14.9375px;
}/*#FORM_6*/

#DIV_7 {
    height: 343.875px;
    text-align: left;
    text-size-adjust: 100%;
    width: 483.062px;
    perspective-origin: 241.531px 171.938px;
    transform-origin: 241.531px 171.938px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
}/*#DIV_7*/

#H2_8 {
    clear: both;
    height: 0px;
    text-align: left;
    text-size-adjust: 100%;
    width: 483.062px;
    perspective-origin: 241.531px 0px;
    transform-origin: 241.531px 0px;
    font: normal normal 700 normal 19.6px / 31.36px Arial, Helvetica, sans-serif;
    margin: 15px 0px;
}/*#H2_8*/

#DIV_9 {
    height: 19px;
    text-align: right;
    text-size-adjust: 100%;
    width: 463.75px;
    perspective-origin: 231.875px 9.5px;
    transform-origin: 231.875px 9.5px;
    font: normal normal 400 normal 11px / normal Helvetica, Arial, sans-serif;
    margin: 0px 19.3125px 0px 0px;
}/*#DIV_9*/

#SPAN_10 {
    bottom: -5px;
    color: rgb(232, 92, 65);
    left: 0px;
    position: relative;
    right: 0px;
    text-align: right;
    text-decoration: none solid rgb(232, 92, 65);
    text-size-adjust: 100%;
    top: 5px;
    column-rule-color: rgb(232, 92, 65);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(232, 92, 65);
    border: 0px none rgb(232, 92, 65);
    font: normal normal 400 normal 16.5px / normal Helvetica, Arial, sans-serif;
    outline: rgb(232, 92, 65) none 0px;
}/*#SPAN_10*/

#DIV_11 {
    bottom: 0px;
    clear: left;
    height: 76px;
    left: 0px;
    min-height: 50px;
    position: relative;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    width: 463.734px;
    perspective-origin: 231.859px 45.2344px;
    transform-origin: 231.859px 45.2344px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
    padding: 0px 0px 14.4844px;
}/*#DIV_11*/

#LABEL_12 {
    display: block;
    height: 24px;
    text-align: left;
    text-size-adjust: 100%;
    width: 463.734px;
    perspective-origin: 231.859px 12px;
    transform-origin: 231.859px 12px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
    margin: 0px 0px 3px;
}/*#LABEL_12*/

#SPAN_13 {
    bottom: -5px;
    color: rgb(232, 92, 65);
    cursor: default;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(232, 92, 65);
    text-size-adjust: 100%;
    top: 5px;
    column-rule-color: rgb(232, 92, 65);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(232, 92, 65);
    border: 0px none rgb(232, 92, 65);
    font: normal normal 400 normal 21px / normal Helvetica, Arial, sans-serif;
    outline: rgb(232, 92, 65) none 0px;
}/*#SPAN_13*/

#BR_14 {
    cursor: default;
    text-align: left;
    text-size-adjust: 100%;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
}/*#BR_14*/

#BR_15, #BR_19, #BR_23 {
    text-align: left;
    text-size-adjust: 100%;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
}/*#BR_15, #BR_19, #BR_23*/

#INPUT_16 {
    background-position: 98% 50%;
    box-sizing: content-box;
    color: rgb(255, 0, 0);
    cursor: auto;
    display: block;
    height: 15px;
    text-decoration: none solid rgb(255, 0, 0);
    text-indent: 2%;
    text-size-adjust: 100%;
    width: 463.734px;
    column-rule-color: rgb(255, 0, 0);
    perspective-origin: 232.859px 16.5px;
    transform-origin: 232.859px 16.5px;
    caret-color: rgb(255, 0, 0);
    background: rgb(255, 255, 255) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==") no-repeat scroll 98% 50% / 16px 18px padding-box border-box;
    border: 1px solid rgb(171, 176, 178);
    border-radius: 3px 3px 3px 3px;
    outline: rgb(255, 0, 0) none 0px;
    padding: 8px 0px;
}/*#INPUT_16*/

#DIV_17, #DIV_21 {
    bottom: 0px;
    clear: left;
    height: 68px;
    left: 0px;
    min-height: 50px;
    position: relative;
    right: 0px;
    text-align: left;
    text-size-adjust: 100%;
    top: 0px;
    width: 463.734px;
    perspective-origin: 231.859px 41.2344px;
    transform-origin: 231.859px 41.2344px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
    padding: 0px 0px 14.4844px;
}/*#DIV_17, #DIV_21*/

#LABEL_18, #LABEL_22 {
    display: block;
    height: 16px;
    text-align: left;
    text-size-adjust: 100%;
    width: 463.734px;
    perspective-origin: 231.859px 8px;
    transform-origin: 231.859px 8px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
    margin: 0px 0px 3px;
}/*#LABEL_18, #LABEL_22*/

#INPUT_20, #INPUT_24 {
    box-sizing: content-box;
    display: block;
    height: 15px;
    text-indent: 2%;
    text-size-adjust: 100%;
    width: 463.734px;
    perspective-origin: 232.859px 16.5px;
    transform-origin: 232.859px 16.5px;
    border: 1px solid rgb(171, 176, 178);
    border-radius: 3px 3px 3px 3px;
    padding: 8px 0px;
}/*#INPUT_20, #INPUT_24*/

#DIV_25 {
    clear: both;
    float: left;
    height: 27.4219px;
    text-align: left;
    text-size-adjust: 100%;
    top: -19.6px;
    width: 434.75px;
    perspective-origin: 224.375px 13.7031px;
    transform-origin: 224.375px 13.7031px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
    margin: 0px 24.1406px;
    overflow: hidden;
    padding: 0px 7px;
}/*#DIV_25*/

#DIV_26 {
    display: none;
    float: left;
    text-align: left;
    text-size-adjust: 100%;
    top: -21px;
    width: 80%;
    font: normal normal 700 normal 14px / normal Helvetica, Arial, sans-serif;
    margin: 14px 0px;
    padding: 14px 7px 7px 0px;
}/*#DIV_26*/

#DIV_27 {
    color: rgb(82, 146, 20);
    display: none;
    float: left;
    text-align: left;
    text-decoration: none solid rgb(82, 146, 20);
    text-size-adjust: 100%;
    top: -21px;
    width: 80%;
    column-rule-color: rgb(82, 146, 20);
    caret-color: rgb(82, 146, 20);
    border: 0px none rgb(82, 146, 20);
    font: normal normal 700 normal 14px / normal Helvetica, Arial, sans-serif;
    margin: 14px 0px;
    outline: rgb(82, 146, 20) none 0px;
    padding: 14px 7px 7px 0px;
}/*#DIV_27*/

#P_28 {
    height: 0px;
    text-align: left;
    text-size-adjust: 100%;
    width: 434.75px;
    perspective-origin: 217.375px 0px;
    transform-origin: 217.375px 0px;
    font: normal normal 400 normal 14px / 24px Helvetica, Arial, sans-serif;
    margin: 0px 0px 27.4286px;
}/*#P_28*/

#P_29, #P_34 {
    height: 0px;
    text-align: left;
    text-size-adjust: 100%;
    width: 483.062px;
    perspective-origin: 241.531px 0px;
    transform-origin: 241.531px 0px;
    font: normal normal 400 normal 14px / 24px Helvetica, Arial, sans-serif;
    margin: 0px 0px 27.4286px;
}/*#P_29, #P_34*/

#DIV_30 {
    bottom: 60.4219px;
    height: 19px;
    left: -5000px;
    position: absolute;
    right: 5327px;
    text-align: left;
    text-size-adjust: 100%;
    top: 326.875px;
    width: 171px;
    perspective-origin: 85.5px 9.5px;
    transform-origin: 85.5px 9.5px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
}/*#DIV_30*/

#INPUT_31 {
    box-sizing: content-box;
    height: 15px;
    text-size-adjust: 100%;
    width: 169px;
    perspective-origin: 85.5px 9.5px;
    transform-origin: 85.5px 9.5px;
    border: 1px solid rgb(171, 176, 178);
    border-radius: 3px 3px 3px 3px;
}/*#INPUT_31*/

#DIV_32 {
    clear: both;
    height: 42px;
    text-align: left;
    text-size-adjust: 100%;
    width: 483.062px;
    perspective-origin: 241.531px 21px;
    transform-origin: 241.531px 21px;
    font: normal normal 400 normal 14px / normal Helvetica, Arial, sans-serif;
}/*#DIV_32*/

#INPUT_33 {
    clear: both;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 32px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-size-adjust: 100%;
    vertical-align: top;
    white-space: nowrap;
    width: 111.922px;
    column-rule-color: rgb(255, 255, 255);
    align-items: flex-start;
    perspective-origin: 55.9531px 16px;
    transform-origin: 55.9531px 16px;
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgb(170, 170, 170) none repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 15px / 32px Arial;
    margin: 0px 5px 10px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 22px;
    transition: all 0.23s ease-in-out 0s;
}/*#INPUT_33*/

#P_35 {
    height: 24px;
    text-size-adjust: 100%;
    width: 498px;
    perspective-origin: 249px 12px;
    transform-origin: 249px 12px;
    font: normal normal 400 normal 14px / 24px Arial, Helvetica, sans-serif;
    margin: 0px 0px 27.4286px;
}/*#P_35*/

#SCRIPT_37 {
    text-size-adjust: 100%;
    font: normal normal 400 normal 14px / 24px Arial, Helvetica, sans-serif;
}/*#SCRIPT_37*/

#BR_38 {
    text-size-adjust: 100%;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    font: normal normal 400 normal 14px / 24px Arial, Helvetica, sans-serif;
}/*#BR_38*/
.no-colon-after:after{
    content: none;
  }


</style>
<div id="DIV_1" class="">
	<p id="P_2">
		<!-- Begin MailChimp Signup Form -->

		<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css" id="LINK_3" />
		<style type="text/css" id="STYLE_4">#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
		</style>
	</p>
	<div id="DIV_5">
			<form action="//montreal.us12.list-manage.com/subscribe/post?u=004c19d0451135557cc1c1536&amp;id=54b4875a2e" method="post" id="FORM_6" name="mc-embedded-subscribe-form">
				<div id="DIV_7">
					<h2 id="H2_8">
					</h2>
					<div id="DIV_9">
						<span id="SPAN_10">*</span> champ obligatoire
					</div>
					<div id="DIV_11">

						<label for="mce-EMAIL" id="LABEL_12" class="no-colon-after">
							Adresse courriel : <span id="SPAN_13">*</span><br id="BR_14" />
						</label><br id="BR_15" />
						<input type="email" name="EMAIL" id="INPUT_16" />
					</div>
					<div id="DIV_17">

						<label for="mce-FNAME" id="LABEL_18">
							Prénom
						</label><br id="BR_19" />
						<input type="text" name="FNAME" id="INPUT_20" />
					</div>
					<div id="DIV_21">

						<label for="mce-LNAME" id="LABEL_22">
							Nom
						</label><br id="BR_23" />
						<input type="text" name="LNAME" id="INPUT_24" />
					</div>
					<div id="DIV_25">
						<div id="DIV_26">
						</div>
						<div id="DIV_27">
						</div>
						<p id="P_28">
						</p>
					</div>
					<p id="P_29">
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

					</p>
					<div id="DIV_30">
						<input type="text" name="b_004c19d0451135557cc1c1536_54b4875a2e" tabindex="-1" id="INPUT_31" />
					</div>
					<div id="DIV_32">
						<input type="submit" value="S'abonner" name="subscribe" id="INPUT_33" />
					</div>
					<p id="P_34">
					</p>
				</div>
			</form>
		</div>
	<p id="P_35">
			<script type="text/javascript" id="SCRIPT_37">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
				</script><br id="BR_38" />
			<!--End mc_embed_signup-->

		</p>
</div>
</div>
  </div>
</article>
{% endblock %}
{% block secondary %}
{% set groups = h.montreal_get_groups() %}
<aside class="secondary span3">
 <section class="module module-narrow module-shallow groups">
<h2 class="module-heading">{{ _('Groups') }}</h2>
<nav>
  <ul class="unstyled nav nav-simple nav-facet">
    {% for group in groups %}
    <li class="nav-item">
      <a href="{{ h.url_for('group.read', id=group.name) }}"><span>{{group.display_name|truncate(40)}} ({{ group.package_count }})</span></a>
    </li>
    {% endfor %}
  </ul>
</nav>
</section>
 {% set current_url = h.full_current_url() %}
<section class="module module-narrow module-shallow groups">
<h2 class="module-heading">{{ _('Social') }}</h2>
  <ul class="unstyled nav nav-simple nav-facet">
    <li class="nav-item"><a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
    <li class="nav-item"><a href="https://plus.google.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-google-plus"></i> Google+</a></li>
    <li class="nav-item"><a href="http://www.linkedin.com/shareArticle?mini=true&url={ current_url }&source=Portail%20donn%C3%A9es%20ouvertes%20de%20la%20Ville%20de%20Montr%C3%A9al" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
    <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
  </ul>
</section>
 </aside>

{% endblock %}
