<div id="main">

<div id="primary" class="">
    <div id="content" role="main" class="">
        <div id="bloc-principal" class="">
            <div class="">
                <h2>Un capital numérique générateur d’innovation</h2>
<p>En ouvrant ses données à tous, la Ville de Montréal permet qu’elles soient réutilisées à différentes fins, incluant des fins commerciales. Les résultats de cette réutilisation peuvent ensuite être partagés dans la communauté, ce qui crée un effet démultiplicateur. Les données libérées et réutilisées génèrent ainsi des bénéfices à la fois dans les sphères économiques, culturelles, sociales et technologiques.</p>

            </div>
            <div>
                <ul id="liste-categories">
                    {% set groups = h.montreal_get_groups() %}
                    {% for group in groups %}
                        <li>
                            {{group}}
                            <figure>
                                <a href="{{ h.url_for(controller='group', action='read', id=group.id) }}">
                                    <img src="{{ group.image_display_url }}" />
                                </a>
                                <figcaption>{{ group.title }}</figcaption>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
           </div>
    </div>
    <div id="blocs-secondaires" class="row">
        <div class="bloc-accueil span4" id="actualites">
            <h2 class="widget-title">Actualités</h2>
                                <h3><a href="http://donnees.ville.montreal.qc.ca/portail/intervention-autour-de-lutilisation-des-donnees-ouvertes-a-loccasion-de-100en1jour/">Interventions autour de l’utilisation des données ouvertes à l’occasion de 100En1Jour</a></h3>
                    <p>Le 2 juin prochain à Montréal des citoyens de tous les horizons sont invités à accomplir des interventions afin d’améliorer […]</p>
                                    <h3><a href="http://donnees.ville.montreal.qc.ca/portail/publication-de-linventaire-de-donnees-et-priorisation/">Publication de l’inventaire de données et priorisation</a></h3>
                    <p>Aujourd’hui, la Ville de Montréal a annoncé la publication de son inventaire de données colligé dans le cadre de l’application […]</p>
                                <a href="/portail/actualites" class="plus">Tous les articles <span class="meta-nav">→</span></a>
        </div>

        <div class="bloc-accueil span4" id="palmares"><!-- jeux de données les plus consultés-->
            <h2 class="widget-title">Ensembles de données récemment ajoutés ou mis à jour</h2>
            <ul>
            <li><a href="http://donnees.ville.montreal.qc.ca/dataset/unites-evaluation-fonciere">Unités d'évaluation foncière</a></li><li><a href="http://donnees.ville.montreal.qc.ca/dataset/unites-evaluation-fonciere">Unités d'évaluation foncière</a></li><li><a href="http://donnees.ville.montreal.qc.ca/dataset/unites-evaluation-fonciere">Unités d'évaluation foncière</a></li><li><a href="http://donnees.ville.montreal.qc.ca/dataset/postes-taxis">Postes d'attente de taxi</a></li>            </ul>
            <!--<a href="/fiches/statistiques/" class="plus">Autres statistiques <span class="meta-nav">→</span></a>-->
        </div>

        <div class="bloc-accueil span4" id="twitter">
                    <div class="donnees_accueil_header">
            <h2 class="widget-title">Échanges sur les données<br>
            ouvertes à Montréal</h2></div>
            <a class="twitter-timeline" data-lang="fr" data-height="340" href="https://twitter.com/MTL_DO">Tweets by MTL_DO</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div><!-- fin widget -->

    </div>
</div><!-- #primary -->
</div>
