<div id="main">

<div id="primary" class="">
    <div id="content" role="main" class="">
        <div id="bloc-principal" class="">
            <div class="">
                <h2>Un capital numérique générateur d’innovation</h2>
<p>En ouvrant ses données à tous, la Ville de Montréal permet qu’elles soient réutilisées à différentes fins, incluant des fins commerciales. Les résultats de cette réutilisation peuvent ensuite être partagés dans la communauté, ce qui crée un effet démultiplicateur. Les données libérées et réutilisées génèrent ainsi des bénéfices à la fois dans les sphères économiques, culturelles, sociales et technologiques.</p>

            </div>
            <div>
                <ul id="liste-categories">
                    {% set groups = h.montreal_get_groups() %}
                    {% for group in groups %}
                        <li>
                            <figure>
                                <a href="{{ h.url_for('group.read', id=group.id) }}">
                                    <img src="{{ group.image_display_url }}" />
                                </a>
                                <figcaption>{{ group.title }}</figcaption>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
           </div>
         </div>
       </div>

 <div id="blocs-secondaires" class="row">
        <div class="bloc-accueil span4" id="actualites">
            <h2 class="widget-title">Actualités</h2>
            {% set posts = h.get_recent_blog_posts(2) %}
            {% if posts %}
            {% for post in posts %}
            <h3><a href="{{ h.url_for('pages.show', page='/' + post.name) }}">{{ post.title or post.name }}</a></h3>
                <p>{{ h.render_content(post.content) }}</p>
                  <a href="/blog" class="plus">Tous les articles <span class="meta-nav">→</span></a>
            {% endfor %}
            {% endif %}
        </div>

        <div class="bloc-accueil span4" id="palmares"><!-- jeux de données les plus consultés-->
            <h2 class="widget-title">Ensembles de données récemment ajoutés ou mis à jour</h2>
            {% set datasets = h.get_recently_updated_datasets() %}
            {% if datasets %}
            <ul>
              {% for dataset in datasets %}
              {% set href = h.url_for('dataset.read', id=dataset.id) %}
              <li><a href="{{ href }}">{{ dataset.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            <!--<a href="/fiches/statistiques/" class="plus">Autres statistiques <span class="meta-nav">→</span></a>-->
        </div>

        <div class="bloc-accueil span4" id="twitter">
                    <div class="donnees_accueil_header">
            <h2 class="widget-title">Échanges sur les données<br>
            ouvertes à Montréal</h2></div>
            <a class="twitter-timeline" data-lang="fr" data-height="340" href="https://twitter.com/MTL_DO">Tweets by MTL_DO</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div><!-- fin widget -->
    </div>
</div><!-- #primary -->
</div>
